KUBE_API_URL=

CUSTOMIZATION_API_GROUP=
CUSTOMIZATION_API_VERSION=

CUSTOMIZATION_NAVIGATION_RESOURCE_NAME=
CUSTOMIZATION_NAVIGATION_RESOURCE=

USE_NAMESPACE_NAV=

NAVIGATE_FROM_CLUSTERLIST=

PROJECTS_API_GROUP=
PROJECTS_VERSION=
PROJECTS_RESOURCE_NAME=

MARKETPLACE_RESOURCE_NAME=
MARKETPLACE_KIND=

INSTANCES_API_GROUP=
INSTANCES_VERSION=
INSTANCES_RESOURCE_NAME=

BFF_URL=
